body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background-color: lightblue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.title {
  height: 100px;
  display: table-row;
}

.title span {
  display: table-cell;
  vertical-align: middle;
}

.title img {
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
  padding-right: 5px;
}

.title h2  {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 6px;
}

.tree-element {
  margin: 0 0 0 4px;
  position: relative;
}

.tree-element.parent {
  display: inline;
}

.tree-element.child {
  margin-left: 16px;
}

div.tree-element:before {
  content: '';
  position: absolute;
  top: 24px;
  left: 1px;
  height: calc(100% - 48px);
  border-left: 1px solid gray;
}

p.tree-element {
  margin-left: 16px;
}

.tree-toggler {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid gray;
  cursor: pointer;
}

.tree-toggler.open {
  transform: rotate(90deg);
}

.collapsed {
  display: none;
}
